@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    box-sizing: border-box;
}
.highscores {
    float: left;
    margin-left: .5rem;
}

.timerdiv {
    float: right;
    margin-right: .5rem;
}

/* center everything on the page */
body {
    background-color: #b8c6db;    
    display: flex;
    align-items: center;
    justify-content: center;    
    font-family: 'Pacifico', cursive;
    margin: 0;
    min-height: 75vh;         
}


/* give the quiz a home */
.quiz-container {
    background-color: snow;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #888888;
    overflow: hidden;
    width: 650px;
    height: 650px;
    max-width: 100%;
    max-height: 100%;
    position:relative;
}

.quiz-header {
    padding: 1.5rem 3rem;
}

.quiz-footer {
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
/* the animated button object */
button {
    background-color: slateblue;
    color: snow;
    border: none;
    display: block; 
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
    font-family: inherit;
    position: absolute;
    bottom:   0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
